#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

#root img {
  height: 48px;
}

#root img > title {
  height: 37px;
}
#root text {
  justify-content: flex-start;
}
