#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

#root img {
  height: 48px;
  margin-left: 63px;
}

#root title {
  height: 37px;
}

div button {
  height: 100px;
  width: 100px;
  margin-left: 15px;
  margin-top: 400px;

  background-color: blueviolet;
}

div button :first-child {
  margin-right: 20px;
}

div button :nth-child(3) {
  margin-top: 450px;
}
